<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>
<body>
<!--navbar-->
<div id="header"></div>
<div class="Sidebar hidden-xs">
    <div class="itemSide">
        <span class="glyphicon glyphicon-map-marker">
          </span>新生專區
    </div>
    <div class="itemSide active">
        <span class="glyphicon glyphicon-book"></span>
        大一英文
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        大一國文</div>

    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        工院微積分
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        管院微積分
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        其他用書
    </div>
</div>
<div class="container">
    <div class="col-md-10">
        <h1>大一用書</h1>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>書籍封面</th>
                <th>書名</th>
                <th>作者</th>
                <th>出版社</th>
                <th>提供出租</th>
                <th>二手價</th>
                <th>狀態</th>
                <th></th>

            </tr>
            <tr>
                <td>
                    <a href="bookinfo.html"><img class="bookIMG" src="../../assets/image/bookpic.jpg"></a>
                </td>
                <td>賢者之愛</td>
                <td>三田詠美</td>
                <td>大田</td>
                <td>是</td>
                <td>$123</td>
                <td>出售中</td>
                <td><button><a href="bookInfo.html">了解更多</a></button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>7</td>
                <td>$123</td>
                <td>出售中</td>
                <td><button>了解更多</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>7</td>
                <td>$123</td>
                <td>出售中</td>
                <td><button>了解更多</button></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<div id="footer"></div>
</body>
</html>
