<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>
<body>
<!--navbar-->
<div id="header"></div>
<div class="Sidebar hidden-xs">
    <div class="itemSide">
        <span class="glyphicon glyphicon-map-marker">
          </span>大一用書
    </div>
    <div class="itemSide active">
        <span class="glyphicon glyphicon-book"></span>
        大一英文
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        大一國文</div>

    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        工院微積分
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        管院微積分
    </div>
    <div class="itemSide">
        <span class="glyphicon glyphicon-book"></span>
        其他用書
    </div>
</div>
<div class="container-fluid">
    <div class="row">


        <div class="col-md-8">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#matching" aria-controls="matching" role="tab" data-toggle="tab">資管系</a></li>
                    <li role="presentation"><a href="#bought" aria-controls="bought" role="tab" data-toggle="tab">企管系</a></li>
                    <li role="presentation"><a href="#bought" aria-controls="bought" role="tab" data-toggle="tab">財金系</a></li>
                    <li role="presentation"><a href="#bought" aria-controls="bought" role="tab" data-toggle="tab">經濟系</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="matching">
                        <div class="table-responsive">
                            <table class="table">
                                <caption>購買訂單管理</caption>
                                <tr>
                                    <th>書籍封面</th>
                                    <th>書籍名稱</th>
                                    <th>作者</th>
                                    <th>價格</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-time">我要買書</span></a>
                                    </div> </td>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-time">我要買書</span></a>
                                    </div> </td>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-time">我要買書</span></a>
                                    </div> </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="bought">
                        <div class="table-responsive">
                            <table class="table">
                                <caption>購買訂單管理</caption>
                                <tr>
                                    <th>書籍封面</th>
                                    <th>書籍名稱</th>
                                    <th>作者</th>
                                    <th>價格</th>
                                    <th>評價</th>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-comment">我要買書</span></a>
                                    </div> </td>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-comment">我要買書</span></a>
                                    </div> </td>
                                </tr>
                                <tr>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td>範例</td>
                                    <td> <div class="round hollow text-center">
                                        <a href="#" id="addClass"><span class="glyphicon glyphicon-comment">我要買書</span></a>
                                    </div> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
</body>
</html>
