<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
    <link href="../../../assets/css/sweetalert2.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../../assets/Js/sweetalert2.js"></script>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/JQuery2.0.js"></script>
<script src="../../../MainPage/Js/Main.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>
<script src="../../Js/UploadBookManagement.js"></script>
<script src="../../Js/memberCommon.js"></script>
<script src="../../Js/member.js"></script>
<!--<script>window.onload = getBookArray();</script>-->
<body>  
<!--Navbar-->
<div id="header"></div>
<div class="container">
    <div class="row">
        <div id="leftmem">
            <div class="col-sm-12 col-md-2 ">
                <div id="memberLink"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <h3>已上架</h3>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="uploaded">
                        <div class="table-responsive">
                            <table class="table table-striped"  id="table">
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---footer-->
<div id="footer"></div>
</body>
</html>