<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
    <link href="../../../assets/css/sweetalert2.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../../assets/Js/sweetalert2.js"></script>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/JQuery2.0.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>
<script src="../../Js/memberCommon.js"></script>
<script src="../../Js/buyer.js"></script>
<script>window.onload = wishUnMatch();</script>
<body>
<div id="header"></div>
<div class="container">
    <div class="col-sm-12 col-md-2">
        <div id="memberLink"></div>
    </div>
    <div class="col-md-8">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a onclick="wishUnMatch()" aria-controls="profile" role="tab" data-toggle="tab">未媒合</a></li>
              <li role="presentation" ><a onclick="wishMatched()" aria-controls="home" role="tab" data-toggle="tab">新媒合</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="table-responsive">
                    <table class="table">
                        <h3>許願池清單管理</h3>
                    <tr>
                        <th>許願日期</th>
                        <th>書籍封面</th>
                        <th>書籍名稱</th>
                        <th>作者</th>
                        <th>書況</th>
                    </tr>
                    </table>
                </div>
              </div>

          </div>

        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
 <div id="footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>