<!doctype html>
<?php session_start();?>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../Js/Main.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>

<body>
<!--Navbar-->
<div id="header"></div>
<form id="searchbox" align="center">
    <ul>
        <select id="select" name="select">
            <option value="book_name">書名</option>
            <option value="publishingHouse">出版社</option>
            <option value="author">作者</option>
        </select>
        <input id="search" name="search" type="text" placeholder="想找甚麼書?">
        <input value="搜尋" type="button" onclick="Search()">
    </ul>
</form>
<h1 align="center">為了環保，請支持校內二手書流通!<br/></h1>
<p align="center">沒事多喝水，有事多上廁所</p>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a onclick=showBookPage(this.id) id="management"><img class="indexIMG" src="../../assets/image/管理學院.jpg"
                                                                      alt="..."></a>
                <div class="caption">
                    <h3>管理學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a onclick=showBookPage(this.id) id="languagement"><img class="indexIMG"
                                                                        src="../../assets/image/文學院.jpg" 　
                                                                        alt="..."></a>
                <div class="caption">
                    <h3>文學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="indexIMG" src="../../assets/image/工學院.jpg" alt="...">
                <div class="caption">
                    <h3>工學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="indexIMG" src="../../assets/image/理學院.JPG" alt="...">
                <div class="caption">
                    <h3>理學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="indexIMG" src="../../assets/image/客家學院.JPG" alt="...">
                <div class="caption">
                    <h3>客家學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="indexIMG" src="../../assets/image/資訊電機學院.jpg" alt="...">
                <div class="caption">
                    <h3>資訊電機學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../assets/image/地科學院.JPG" alt="...">
                <div class="caption">
                    <h3>地球科學學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../assets/image/生科.JPG" alt="...">
                <div class="caption">
                    <h3>生醫理工學院</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../../assets/image/圖書館.JPG" alt="...">
                <div class="caption">
                    <h3>其他學院</h3>
                </div>
            </div>
        </div>

    </div>
</div>
<footer id="footer">
    <div class="inner">
        <section>
            <h2>買賣流程</h2>
            <div class="tradeprocess">
                <li><a onclick="introduction()">第一次買書</a></li>
                <li><a href="">第一次賣書</a></li>
                <li><a href="">會員註冊流程</a></li>
                <li><a href="">網站導覽</a></li>
            </div>
        </section>
        <section>
            <h2>About us</h2>
            <ul class="aboutus">
                <li><a href="">關於我們</a></li>
                <li><a onclick="connectService()">客服信箱</a></li>
                <li><a href="">服務時間</a></li>
            </ul>

        </section>
        <section>
            <h2>Rule</h2>
            <ul class="rule">
                <li><a href="">使用者條款及規範</a></li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Taiwan Children. All rights reserved</li>
        </ul>
    </div>
</footer>
</body>
</html>