<!doctype html>
<?php session_start();?>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/sweetalert2.css" rel="stylesheet" type="text/css"/>
    <link href="../Css/schoolName.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../assets/font-awesome-4.6.3/css/font-awesome.min.css">

</head>
<script src="../../assets/Js/sweetalert2.js"></script>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../Js/Main.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>

<body>
<br>
<!--Navbar-->
<div id="header"></div>
<div class="jumbotron jumbotronSeller " align="center">
    <h1 style="color:white " >親愛的賣書人......</h1>
    <h3 class="introText"style="color:white " >我們致力於幫助您得到最佳的交易體驗，只要透過以下簡單的三大步驟，
        <br>期許給您最輕鬆的上傳、最快的交易速度、最高的獲利、最有保障的交易</h3>
   <a href=""> <button class="btn btn-default" type="button">立刻成為會員</button></a>
</div>
<div align="center">
<h1>三步驟輕鬆賣出二手書</h1>
<br>
    <hr class="strong-hr" id="introHr">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="contentdiv thumbnail">
                <div class="circle">
                    <h1 align="center" style="line-height: 80px">
                        <i class="fa fa-upload" aria-hidden="true" style=color:white></i>
                    </h1>
                </div>
                <div class="thumbnail">
                    <h4 style="text-align:center">
                        Step1 <br><br>
                        輕鬆上傳書籍
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="contentdiv thumbnail">
                <div class="circle">
                    <h1 align="center" style="line-height: 80px">
                        <i class="fa fa-users" aria-hidden="true" style="color: white"></i>
                    </h1>
                </div>
                <div class="thumbnail">
                    <h4 style="text-align:center">
                        Step2 <br><br>
                        協調面交時間
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="contentdiv thumbnail">
                <div class="circle">
                    <h1 align="center" style="line-height: 80px">
                        <i class="fa fa-check" aria-hidden="true" style="color: white"></i>
                    </h1>
                </div>
                <div class="thumbnail">
                    <h4 style="text-align:center">
                        Step3 <br><br>
                        完成交易評價
                    </h4>
                </div>
            </div>
        </div>

    </div>
</div>


<hr class="strong-hr" id="introHr">
<div id="footer"></div>
</body>
</html>