<!doctype html>
<?php session_start();?>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">

    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../Js/Main.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>


<body style="text-align: left">
<div id="header"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center ">台灣囝仔隱私政策</h1>
            <br>
            <blockquote id="paragraph">
                <h4><strong>個人資料</strong></h4>
                <p>您的個人資料，我們絕對不會洩漏給任何人、任何直銷、任何詐騙集團！ 唯有在進入法律訴訟時，我們才會在法律的監視下提供合理的個資。</p>
            </blockquote>
            <blockquote id="paragraph">
                <h4><strong>Cookie</strong></h4>
                <p>你電腦cookie資料，僅是用來幫助我們判斷您的消費習慣，不會做任何外部的使用！</p>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>來聊聊</strong></h4>
                <p>有任何隱私相關的問題，歡迎您來信與我們討論！</p>
            </blockquote>









        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>