<!doctype html>
<?php session_start();?>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">

    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../assets/Js/JQuery.js"></script>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../Js/Main.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>


<body style="text-align: left">
<div id="header"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center ">BookChange會員服務條款</h1>
            <br>
            <blockquote id="paragraph">
                <h4><strong>會員的註冊義務及會員帳號、密碼安全</strong></h4>
                <p>為了能使用本服務，會員同意並承諾以下事項：
                <ol>
                    <li>
                        依本服務註冊流程之提示提供您本人正確及完整的資料，並維持、更新該資料，確保其為正確、最新及完整，且不得以第三人之名義註冊為會員。每位會員僅能註冊登錄一個帳號，不可重覆註冊登錄。
                    </li>
                    <li>
                        若您提供任何不完整、錯誤或不實的資料，BookChange有權暫停或終止您的帳號，並拒絕您使用本服務之全部或部分。
                    </li>
                </ol>
                </p>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>使用者的守法義務及承諾</strong></h4>
                <p>會員承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。會員同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：
                <ol>
                    <li>冒用他人名義使用本服務</li>
                    <li>侵害或毀損BookChange或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利 </li>
                    <li>公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案</li>
                    <li>違反依法律或契約所應負之保密義務</li>
                    <li>傳輸或散佈電腦病毒</li>
                    <li>從事未經BookChange事前授權的商業行為</li>
                    <li>刊載、傳輸、發送垃圾郵件、連鎖信、違法或未經BookChange許可之多層次傳銷訊息及廣告等；或儲存任何侵害他人智慧財產權或違反法令之資料</li>
                    <li>對本服務其他用戶或第三人產生困擾、不悅或違反一般網路禮節致生反感之行為</li>
                    <li>其他不符本服務所提供的使用目的之行為或BookChange有正當理由認為不適當之行為</li>
                </ol>
                </p>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>會員對本服務之授權</strong></h4>
                <p>若您無合法權利得授權他人使用、修改、發行、散布、重製或公開展示某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、輸入或提供予本服務。您所上載、輸入或提供予本服務之任何資料，其權利仍為您或您的授權人所有；但任何資料一經您上載、輸入或提供予本服務時，即表示您已同意授權BookChange可以基於公益或為宣傳、推廣本服務之目的，進行使用、修改、發行、散布、重製或公開展示該等資料，並得在此範圍內將前述權利轉授權他人。您並保證本服務使用、修改、發行、散布、重製、公開展示或轉授權該資料，不致侵害任何第三人之相關權利，否則應對BookChange負損害賠償責任。
                </p>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>系統中斷或故障</strong></h4>
                <ol>
                    <li>本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤等情形。 </li>
                    <li>您於使用本服務時宜自行採取防護措施。 </li>
                    <li>BookChange對於您因使用（或無法使用）本網站而造成的損害，不負任何賠償責任。</li>
                </ol>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>線上交易(買賣、租賃書籍)</strong></h4>
                <ol>
                    <li>您所訂購的商品及服務應在取貨時確認商品狀況，且品質保固及售後服務等，都是由該商品或服務的提供者負責，但BookChange承諾協助您解決關於線上消費所產生的疑問或爭議。 </li>
                    <li>若在租書過程中，毀損書籍則一律依照原價賠償出租者，否則租書者將負起刑法第 354 條 （毀損器物罪）毀棄、損壞前二條以外之他人之物或致令不堪用，足以生損害於公眾或他人者，處二年以下有期徒刑、拘役或五百元以下罰金。之責任，請勿存以僥倖之心。 </li>
                </ol>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>責任之限制與排除</strong></h4>
                <ol>
                    <li>本服務所提供之各項功能，均依該功能當時之現況提供使用，BookChange對於其效能、速度、完整性、可靠性、安全性、正確性等，皆不負擔任何明示或默示之擔保責任。 </li>
                    <li>BookChange並不保證本服務之網頁、伺服器、網域等所傳送的電子郵件或其內容不會含有電腦病毒等有害物；亦不保證郵件、檔案或資料之傳輸儲存均正確無誤不會斷線和出錯等，因各該郵件、檔案或資料傳送或儲存失敗、遺失或錯誤等所致之損害，BookChange不負賠償責任。 </li>
                </ol>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>智慧財產權的保護</strong></h4>
                <ol>
                    <li>本服務所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均為BookChange或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若會員欲引用或轉載前述軟體、程式或網站內容，必須依法取得BookChange或其他權利人的事前書面同意。</li>
                    <li>在尊重他人智慧財產權之原則下，會員同意在使用BookChange之網站時，不作侵害他人智慧財產權之行為。</li>
                    <li>若會員有涉及侵權之情事，BookChange可暫停全部或部份之服務，或逕自以取消會員帳號之方式處理，如有損害，並得請求因此所生之損害賠償。</li>
                    <li>若有發現智慧財產權遭侵害之情事，請將所遭侵權之情形及聯絡方式，並附具真實陳述及擁有合法智慧財產權之聲明，以下列方式聯絡BookChange：
                        以電子郵件(E-mail)寄送至： bookChange@gmail.com</li>
                </ol>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>拒絕或終止使用權</strong></h4>
                <p>會員同意BookChange基於維護交易安全之考量，BookChange保留隨時停止提供會員服務之全部或一部份之權利。若會員違反本服務條款或任何理由，BookChange得採取拒絕交易或終止您的密碼、帳號或本服務之使用，且不因此對您或任何第三人負任何賠償或補償之責任。</p>
            </blockquote>

            <blockquote id="paragraph">
                <h4><strong>準據法</strong></h4>
                <p>本服務條款之解釋及適用，以及會員因使用本服務所生之權利義務關係，應依中華民國法律解釋適用之。</p>
            </blockquote>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>