<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../../assets/Js/bootstrap.min.js"></script>
    <link href="../../../assets/css/sweetalert2.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../../assets/Js/sweetalert2.js"></script>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/JQuery2.0.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>
<script src="../../Js/inform.js"></script>
<script src="../../Js/memberCommon.js"></script>
<script>window.onload=where();</script>
<!--<script-- src="../Js/member.js"></script>>-->
<body>
<div id="header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div id="memberLink"></div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div role="tabpanel">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="table-responsive">
                            <h3>未讀通知</h3>
                            <table class="table" id="table" style="table-layout:fixed;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>