<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<script src="../../../assets/Js/sweetalert2.js"></script>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/JQuery2.0.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>
<script src="../../../assets/Js/jquery.blockUI.js"></script>
<script src="../../Js/test.js"></script>
<body>
<h1>會員開通測試</h1>
<button onclick="test()">按下去就會連到書城網站</button>
</body>
</html>