<!doctype html>
<?php session_start();?>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../../assets/css/sweetalert2.css" rel="stylesheet" type="text/css"/>
</head>
<script src="../../../assets/Js/sweetalert2.js"></script>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/commonJS.js"></script>
<script src="../../../MainPage/Js/Main.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>

<body>
<!--Navbar-->
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navigation">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img src="../../../assets/image/brandIMG.jpg" class="brandIMG" onclick="showIndex()">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right">
                <ul class="newMenu nav navbar-nav">
                    <li><a onclick="ShowPoolPage()">許願池</a></li>
                    <li><a onclick="ShowUploadBookPage()">我要賣書</a></li>
                    <li><p id="name" style="font-size: large "></p></li>
                    <li><a onclick="ShowLoginPage()" id="loginButton">登入</a></li>
                    <li><a onclick="ShowSignUpPage()" id="signUpButton">註冊</a></li>
                    <li><a onclick="ShowFreshManArea()">新生專區</a></li>
                        <!--聊天室-->
                    <li class="dropdown" >
                        <a onclick="Chat()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-comment"><span style="color: red" id="chatNum"></span></span></a>
                        <ul class="dropdown-menu dropdown-plus" id="myChatList" role="menu">
                        </ul>
                    </li>
                    <!--我的最愛-->
                    <li class="dropdown" >
                        <a onclick="Love()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus"></span></a>
                        <ul class="dropdown-menu dropdown-plus" id="myLoveList" role="menu">
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>
</div>

</body>
</html>