<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookChange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<script src="../../../assets/Js/JQuery.js"></script>
<script src="../../../assets/Js/JQuery2.0.js"></script>
<script src="../../../assets/Js/bootstrap.min.js"></script>
<script src="../../Js/memberCommon.js"></script>
<body>
<!--Navbar-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <div id="memberLinkInfo">
                <div class="memInfo">
                    <li><h4 id="memberName">會員名稱：</h4></li>
                </div>
                <br>

                <section>

                    <div id="membercenter" >
                        <a href="../../MemberController.php?action=ShowWishList">許願池管理</a>
                    </div>
                    <br>

                    <div id="buyercenter" >
                        <a href="../../MemberController.php?action=ShowFollowList">我的追蹤清單</a>
                    </div>
                    <br>

                    <div id="sellercenter" >
                        <a href="../../MemberController.php?action=ShowUploadBookManagementPage">上架書籍管理</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>