<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>台灣囝仔二手書網</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type ="text/css"/>
</head>
<script src="../../assets/Js/JQuery2.0.js"></script>
<script src="../../assets/Js/bootstrap.min.js"></script>
<script src="../../assets/Js/commonJS.js"></script>
<script src="../Js/BookUpload.js"></script>
<script src="../../MainPage/Js/Main.js"></script>
<script src="../../AccountActivity/Js/Login.js"></script>
<body>
<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" onclick="showIndex()">台灣囝仔</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right">
            <ul class="newMenu nav navbar-nav">
                <li><a onclick="ShowActivity()">活動專區</a></li>
                <li><a onclick="ShowPoolPage()">許願池</a></li>
                <li><a onclick="ShowUploadBookPage()">我要賣書</a></li>
                <li><p id="name" style="font-size: large "></p></li>
                <li><a onclick="ShowLoginPage()" id="loginButton">登入</a></li>
                <li><a onclick="ShowSignUpPage()" id="signUpButton">註冊</a></li>
                <li><a onclick="ShowMemberCenter()">會員中心</a></li>
                <li><a onclick="ShowChatroomPage()">聊天室</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-plus"></span></a>
                    <ul class="dropdown-menu dropdown-plus" role="menu">
                        <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="#" alt="" />
                        <span class="item-info">
                            <span>書籍名稱</span>
                            <span>$150</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                        </li>
                        <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="#" alt="" />
                        <span class="item-info">
                            <span>書籍名稱</span>
                            <span>$400</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
                        </li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>
<form id="searchbox" align="center" action="">
    <ul>
        <select id="searchselect">
            <option>書名</option>
            <option>出版社</option>
            <option>作者</option>
        </select>
        <input id="search" type="text" placeholder="想找甚麼書?">
        <input id="submit" type="submit" value="Search">
    </ul>
</form>
<h1 align="center">為了環保，請支持校內二手書流通!<br/></h1>
<p align="center">沒事多喝水，有事多上廁所</p><hr>
<!--上傳表單-->
<div class="container">
    <div align="center">
        <form role="form">
            <h2>選擇賣書上傳方式</h2>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#isbnupload" aria-expanded="true" aria-controls="isbnupload">
                ISBN上傳
            </button>

            <div id="isbnupload" class="collapse">
                <div class="form-group">
                    <label for="bookISBN">ISBN</label>
                    <input type="text" class="form-control" id="bookISBN" placeholder="輸入ISBN">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-toggle="collapse" id="bookSearch">
                        輸入
                    </button>
                </div>
            </div>
            或

            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#handupload" aria-expanded="true" aria-controls="handupload">
                手動上傳
            </button>

            <div id="handupload" class="collapse">
                <div class="form-group">
                    <label for="bookname">書名</label>
                    <input type="text" class="form-control" id="bookname" placeholder="輸入書名">
                </div>
                <div class="form-group">
                    <label for="bookauthor">作者</label>
                    <input type="text" class="form-control" id="bookauthor" placeholder="輸入作者">
                </div>
                <div class="form-group">
                    <label for="bookpublisher">出版社</label>
                    <input type="text" class="form-control" id="bookpublisher" placeholder="輸入作者">
                </div>
                <div class="form-group">
                    <label for="bookedition">版次</label>
                    <input type="text" class="form-control" id="bookedition" placeholder="輸入書籍版本">
                </div>
                <div class="form-group">
                    <label for="oringinalprice">原價</label>
                    <input type="number" class="form-control" id="oringinalprice" placeholder="輸入書本原本價格">
                </div>
                <div class="form-group">
                    <label for="bookcategory">分類</label><br>
                    <select id="bookcategory">
                        <option value="管理學院">管理學院</option>
                        <option value="文學院">文學院</option>
                        <option value="工學院">工學院</option>
                        <option value="理學院">理學院</option>
                        <option value="客家學院">客家學院</option>
                        <option value="資訊電機學院">資訊電機學院</option>
                        <option value="地球科學學院">地球科學學院</option>
                        <option value="生醫理工學院">生醫理工學院</option>
                        <option value="其他學院">其他學院</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bookprice">二手價</label>
                    <input type="number" class="form-control" id="twoprice" placeholder="我要賣多少">
                </div>
                <div class="form-group">
                    <label for="bookcondition">書本狀態描述</label><br>
                    <select id="bookcon">
                        <option value="接近全新">接近全新</option>
                        <option value="保存極佳">保存極佳</option>
                        <option value="保存良好">保存良好</option>
                        <option value="尚可接受">尚可接受</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="InputFile">書籍封面上傳</label>
                    <input type="file" id="InputFile">
                    <p class="help-block">上傳書籍封面會讓賣家更精準了解您的需求</p>
                </div>
                </div>
            <br>
        </form>
    </div>
</div>
<br>
<div class="table-responsive">

        <table class="table" id="table">
            <caption>上傳書籍</caption>
            <tr>
                <th>書籍封面</th>
                <th>書名</th>
                <th>ISBN編號</th>
                <th>作者</th>
                <th>出版社</th>
                <th>版次</th>
                <th>原價</th>
                <th>書籍分類</th>
                <th>二手價</th>
                <th>書況</th>
            </tr>
        </table>
        <button type="button" class="btn btn-default" id="upload">送出</button>

</div>


</div>
    <!--- 舊版上傳表單
    <div class="upload">

            <div class="form-group" >
            <label for="InputISBN">ISBN</label>
            <input type="text" class="form-control" id="bookISBN" placeholder="書本ISBN">
            <button type="button" class="btn btn-default" id="bookSearch">送出</button>
            </div>

    </div>
        
    <div class="table-responsive">

            <table class="table"  id="table">
                <caption>上傳書籍</caption>            
                <tr>
                    <th>書籍封面</th>
                    <th>書籍名稱</th>
                    <th>書籍類別</th>
                    <th>ISBN</th>
                    <th>作者</th>
                    <th>價格</th>
                </tr>
            </table>
            <button type="button" class="btn btn-default" id="upload">上傳</button>

    </div>  -->

</body>
</html>